body {
    background-image: linear-gradient(#CBDDFA, #9ABEF7);
}

nav img {
    height: 85px;
}

nav {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

nav a,
.j4,
.card a {
    transition: all linear 0.2s;
}

nav a:hover {
    color: #1252e7 !important;
}

.j4:hover {
    text-decoration: underline !important;
}

.hid {
    display: none;
}

.j1 .dropdown-toggle::after {
    display: none !important;
}

.items>.container>.d-flex {
    justify-content: center;
}

textarea {
    resize: none;
}

.items .container,
section.product .container,
section.param .container {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.25);
}

.card p,
.card a {
    font-size: 14px;
}

.card a:hover {
    text-decoration: underline !important;
}

.card .m-0 {
    font-size: 17px;
}

nav form a:active {
    color: #1252e7 !important;
}

nav a:active,
nav input:active {
    background-color: transparent !important;
}

section.product .i1 {
    width: 400px;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    width: 500px;
    padding: 0 4px;
}

.scrollmenu a {
    display: inline-block;
    padding: 6px 2px;
}

.scrollmenu img {
    width: 75px;
    border-radius: 0.5rem;
}

.r1 {
    width: 45%;
}

td {
    padding: 0.25rem 0 !important;
}

section.param p {
    font-weight: 600;
}

.r2 {
    font-size: 12px;
}

@media (min-width: 992px) {
    .hid {
        display: block;
    }

    .items>.container>.j2 {
        width: 250px;
        justify-content: center;
    }

    .container {
        max-width: 1250px;
    }

    .j3 {
        gap: 0 !important;
    }

    section.product .i1 {
        width: 600px;
    }
}