nav img {
    height: 85px;
}

nav {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

nav a {
    transition: all linear 0.2s;
}

nav a:hover {
    color: #1252e7 !important;
}

.hid {
    display: none;
}

.j1 .dropdown-toggle::after {
    display: none !important;
}

section.items > .container > .d-flex {
    justify-content: center;
}

@media (min-width: 992px) {
    .hid {
        display: block;
    }

    section.items > .container > .d-flex {
        width: 280px;
        justify-content: flex-start;
    }

    .container {
        max-width: 1150px;
    }
}