@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

a, p, h1, h2, h3, td, label, li {
    font-family: "Ubuntu";
}

body {
    background-image: linear-gradient(#CBDDFA, #9ABEF7);
}

nav img {
    height: 75px;
}

nav {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

nav a,
.j4,
.card a
.r5 a {
    transition: all linear 0.2s;
}

nav a:hover:not(.r2, .r3) {
    color: #1252e7 !important;
}

.hid {
    display: none;
}

.j1 .dropdown-toggle::after {
    display: none !important;
}

.items>.container>.d-flex {
    justify-content: center;
}

textarea {
    resize: none;
}

.items .container {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.25);
}

.container.bg-light.rounded-2.my-5 {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

.card p,
.card a {
    font-size: 14px;
}

.card .m-0 {
    font-size: 17px;
}

nav form a:active {
    color: #1252e7 !important;
}

nav a:active,
nav input:active {
    background-color: transparent !important;
}

nav button {
    padding: 0.01rem 0.4rem 0.15rem 0.4rem !important;
    margin-right: 1rem;
}

section.product .i1 {
    width: 400px;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    width: 350px;
    padding: 0 4px;
}

.scrollmenu a {
    display: inline-block;
    padding: 6px 2px;
}

.scrollmenu img {
    width: 75px;
}

.r1 {
    width: 45%;
}

td {
    padding: 0.25rem 0 !important;
    font-size: 14px;
}

.param p {
    font-weight: 600;
    font-size: 18px;
}

.r2 {
    font-size: 12px !important;
}

.r3 {
    font-size: 16px !important;
}

.j5 {
    font-size: 18px !important;
    margin: 0;
    font-weight: 600;
    color: #000 !important;
}

section.recen .border p, .j6 {
    font-size: 14px;
}

.dropdown-menu a img{
    height: 50px;
}

.r5 img {
    height: 75px;
}

section.info img {
    width: 325px;
}

.r4 {
    width: 175px;
}

hr {
    width: 90%;
    margin: auto;
}

.j4:hover, .card a:hover, .r5 a:hover {
    text-decoration: underline !important;
}

.r6 {
    font-size: 18px;
}

.a1 {
    font-size: 14px;
}

.a2 {
    width: 100% !important;
}

@media (min-width: 768px) {
    section.info img, .scrollmenu {
        width: 500px;
    }
}

@media (min-width: 992px) {
    .hid {
        display: block;
    }

    .items>.container>.j2 {
        width: 250px;
        justify-content: center;
    }

    .container {
        max-width: 1250px;
    }

    section.product .i1 {
        width: 600px;
    }
    .a2 {
        width: 75% !important;
    }
}